<div class="main_page flex row">
<div class="content photo_background col s12 m6">
</div>

<div class="container options col s12 m6 ">
    <div class="child">
        <%= image_tag "entree.png" %>
        <div class="icon_image row"> 
        <div class"col m12 valing-wrapper">
            
        </div>
    </div>
    <div class="row visit">
        <div class"col m6">
            <%= link_to "I am a Visitor", appointments_path %> 
        </div>
        </div>
        </br>
        </br>
        </br>
        <div class="row visit">
            <div class"col m6">
                <%= link_to "I am a Student", arrivals_index_path %>
            </div>
        </div>
    </div>
</div>

</div>