.row.flex {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    color: white;
}
.title_app{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
input#autocomplete-input{
    color: #cecece;
}
#visitor_identification,
#visitor_name,
#visitor_lastname,
#demo-auto,
#appointment_message
{
    color: #cecece;
    font-family: 'Poiret One', cursive;

}
.select-wrapper .caret{
    fill: #EF0000;
}
.red-color{
    background-color: #EF0000;
    flex-direction: column;
}
.blue-color{
    background-color: #0D1946;
}
.select-dropdown.dropdown-trigger{
    color: #cecece;
    font-family: 'Poiret One', cursive;
}
.btn.waves-effect.waves-light {
    background: red;
    border-radius: 50px;
    padding: 21px 39px;
    line-height: 0px;
    transition: 0.3s;
}
.btn.waves-effect.waves-light:hover {
    background-color: #04cb26;
}

.icon-search{
    display: flex;
}
.search {
    margin: 11px 0 0 0;
    color: #ef0000;
    position: absolute;
    right: 0;
}
body{
    font-family: 'Poiret One', cursive;
}
.input-field.col label{
    font-size: 20px
}

.modal {
    border-radius: 15px;
}

.modal-p {
    font-size: 35px;
    color:#EF0000;    
}

.modal-strong {
    font-size:100px;
    color:#0D1946;
    line-height: 4px;
}

#mywebcam {
    margin: 0 auto 45px auto;
}
.take_button{
    background: transparent;
    margin: 0 auto;
}
button.btn-floating{
    background: #fefcfc;
}
.btn-floating i.cam{
    color: #f00;
}
.btn-floating:hover {
    background-color: #04cb26;
}
.photo-container img{
    border-radius: 13px;
    border: 6px solid #ef0000;
    margin: 16px auto;
}
.photo-container h2{
    font-size: 40px;
}
.box{
    border-radius: 13px;
    border: 6px solid #ef0000;
    margin: 16px auto;
    width: 251px;
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box img{
    border-radius: 7px;
    width: 240px;
}
.text_usr{
    font-size:35px;
}
.camera_style{
    font-size: 90px;
    opacity: 0.8;
}
.cam{
    fill: #EF0000;
}
